<section id="footer">
 <div class="container">
  <div class="row">
   <div class="col-sm-12">
    <div class="footer_main clearfix">
	 <div class="col-sm-4">
	 <div class="footer_1">
	  <h3>NULLA QUIS</h3>
	  <hr class="hr_4">
	  <p>Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla.torquent per conubia nostra,</p>
	  <h4><i class="fa fa-phone"></i>+91 1234 567 890</h4>
	  <h5><i class="fa fa-envelope"></i>info@gmail.com</h5>
	 </div>
	</div>
	 <div class="col-sm-4">
	 <div class="footer_1">
	  <h3>QUIS SEM</h3>
	  <hr class="hr_4">
	 </div>
	 <div class="col-sm-12 space_all">
	  <div class="col-sm-6 space_all">
	   <div class="footer_2">
	    <ul>
		    <li><a href="#"><i class="fa fa-arrow-right"></i>Massa</a></li>
			<li><a href="#"><i class="fa fa-arrow-right"></i>Quis Sem</a></li>
			<li><a href="#"><i class="fa fa-arrow-right"></i>Semper Porta</a></li>
			<li><a href="#"><i class="fa fa-arrow-right"></i>Fusce Nec</a></li>
			<li><a href="#"><i class="fa fa-arrow-right"></i>Integer Nec</a></li>
		</ul>
	   </div>
	  </div>
	  <div class="col-sm-6 space_all">
	   <div class="footer_2">
	    <ul>
		    <li><a href="#"><i class="fa fa-arrow-right"></i>Lacinia Nunc</a></li>
			<li><a href="#"><i class="fa fa-arrow-right"></i>Dignissim Lacinia</a></li>
			<li><a href="#"><i class="fa fa-arrow-right"></i>Sed</a></li>
			<li><a href="#"><i class="fa fa-arrow-right"></i>Duis Sagittis</a></li>
			<li><a href="#"><i class="fa fa-arrow-right"></i>Adipiscing Elit</a></li>
		</ul>
	   </div>
	  </div>
	 </div>
	</div>
	 <div class="col-sm-4">
	 <div class="footer_1">
	  <h3>NIBH ELEMENTUM IMPERDIET</h3>
	  <hr class="hr_4">
	 </div>
	 <div class="col-sm-12 space_all">
	  <div class="footer_3">
	   <input type="text" class="form-control" placeholder="Name">
	  </div>
	 </div>
	 <div class="col-sm-12 space_all">
	  <div class="footer_4">
	   <input type="text" class="form-control" placeholder="Email">
	  </div>
	 </div>
	 <div class="col-sm-12 space_all">
	  <div class="footer_5 clearfix">
	   <p><a href="#">SUBSCRIBE</a></p>
	  </div>
	 </div>
	</div>
	</div>
   </div>
   <div class="col-sm-12">
    <div class="col-sm-6 space_all">
	 <div class="footer_6">
	  <p>© 2024 Interient. All Rights Reserved. Design By Aronyo Mojumder </p>
	 </div>
	</div>
	<div class="col-sm-6 space_all">
	 <div class="footer_7">
	  <ul>
	      <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
		  <li><a href="#"><i class="fab fa-twitter"></i></a></li>
		  <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
		  <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
		  <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
		  <li><a href="#"><i class="fa fa-rss"></i></a></li>
		  <li><a href="#"><i class="fab fa-skype"></i></a></li>
		  <li><a href="#"><i class="fa fa-share-alt"></i></a></li>
	  </ul>
	 </div>
	</div>
   </div>
  </div>
 </div>
</section>
<script type="text/javascript">
$(document).ready(function(){
	/*****Fixed Menu******/
	var secondaryNav = $('.cd-secondary-nav'),
	   secondaryNavTopPosition = secondaryNav.offset().top;
		$(window).on('scroll', function(){
			if($(window).scrollTop() > secondaryNavTopPosition ) {
				secondaryNav.addClass('is-fixed');
			} else {
				secondaryNav.removeClass('is-fixed');
			}
		});

});
	</script>
</body>

</html>